// General style
$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
$body-bg:                 $light-gray;
$font-size-base:          8px;

// Colors
$body-color:    $gray-01;
$primary:       $green;

// Buttons & inputs' radius
$border-radius:    5px;

// Font
$font-weight-normal: 400;
$font-weight-bold: 700;

// Box-shadows
$shadow: 0 2px 2px rgba(0,0,0, 0.25);
