<div class="job__wrapper">
  <div class="job__header">
    <h3><%= @job.title %></h3>
    <p><%= @user.name %></p>
  </div>
  <div class="job__content">
    <div class="job__content-item">
      <p class="text-muted">Clock in</p>
      <p>-</p>
    </div>
    <div class="job__content-item">
      <p class="text-muted">Clock out</p>
      <p>-</p>
    </div>
  </div>
  <button class="btn btn-primary">Clock in</button>
</div>



