<div class="job__container" data-controller="job">
  <div class="job__header">
    <h3><%= @job.title %></h3>
    <p><%= @user.name %></p>
  </div>
  <div class="job__content">
    <div class="job__content-item">
      <p class="text-muted">Clock in</p>
      <p data-target="job.startTime">-</p>
    </div>
    <div class="job__content-item">
      <p class="text-muted">Clock out</p>
      <p data-target="job.endTime">-</p>
    </div>
  </div>
  <button
    class="btn btn-primary"
    data-target="job.btnClockIn"
    data-action="click->job#clockIn"
  >
    Clock in
  </button>
  <button
    class="btn btn-primary hidden"
    data-shift-id=""
    data-target="job.btnClockOut"
    data-action="click->job#clockOut"
    >
    Clock out
  </button>
  <p
    class="text-error hidden"
    data-target="job.error"
  ></p>
</div>
